<h3>Liste</h3>

<div class="frame-list-map">

  <div>
    <% @locations.each do |location| %>
      <div class="">
        <p><%= location.name %></p>
        <p><%= location.lonlat %></p>
        <p><%= location.quadrilatere %></p>

        <% point = '{"type":"Feature",
                    "geometry":{
                      "type":"Polygon",
                      "coordinates":[[[14, 47],[14, 46],[14, 42],[8, 43]]]
                    },
                    "properties":{
                      "color":"red"
                    }
                  }' %>
        <% feature = RGeo::GeoJSON.decode(point) %>
        <div class="polygon" data-polygon="<%= feature.geometry.coordinates %>"></div>

      </div>
    <% end %>
  </div>

  <div>
    <div id="map">
    </div>
  </div>

</div>

<%= link_to "retour", :back %>
